* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "RobotoMed";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 500;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 40px;
}

/*First*/
.header {
  background: #373A3C;
  border-bottom: #686C6F 3px solid;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  display: none;
}
@media (max-width: 850px) {
  .header__burger {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.header__logo {
  padding: 15px 0px;
}
.header__menu {
  display: flex;
  margin-left: 20px;
}
@media (max-width: 850px) {
  .header__menu {
    margin: 0;
  }
}
.header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__item {
  margin-left: 30px;
}
@media (max-width: 850px) {
  .header__item {
    margin: 0;
  }
}
.header__link {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}
.header__link:hover {
  color: white;
}
@media (max-width: 850px) {
  .header__link__burg {
    display: none;
    margin: 0;
    padding: 0;
  }
}
.header__link__arrow:after {
  content: "";
  background: url("../img/Shape.svg") no-repeat bottom;
  width: 12px;
  height: 7px;
  margin-left: 8px;
  margin-top: 4px;
  display: flex;
}
.header__link__user {
  text-align: center;
  width: 121px;
}
@media (max-width: 512px) {
  .header__link__user {
    display: none;
  }
}
.header__user {
  display: none;
}
@media (max-width: 512px) {
  .header__user {
    display: flex;
    padding-left: 16px;
  }
}
@media (max-width: 512px) {
  .header__item__user {
    display: flex;
  }
}
.header__link__user::before {
  content: "";
  background: url("../img/user.svg") no-repeat bottom;
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
  padding: 2px;
}
.header__input {
  padding: 8px 0px 8px 15px;
  color: black;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
@media (max-width: 512px) {
  .header__input {
    width: 100%;
  }
}

/*Second*/
.intro {
  align-items: center;
  height: 698px;
  display: flex;
  background: url("../img/Star-Wars-Battlefront-II-combat.png");
  background-position: top;
  background-size: cover;
  position: relative;
}
.intro__wrap {
  display: flex;
  justify-content: space-between;
}
.intro__left__arrow {
  position: absolute;
  left: 0px;
  transform: rotate(180deg);
  padding-right: 49px;
}
@media (max-width: 512px) {
  .intro__left__arrow {
    padding: 0px 15px;
  }
}
.intro__right__arrow {
  position: absolute;
  right: 0px;
  padding-right: 49px;
}
@media (max-width: 512px) {
  .intro__right__arrow {
    padding: 0px 15px;
  }
}
.intro__btns-titles {
  font-family: "Roboto";
  color: #FFFFFF;
  position: absolute;
  top: 210px;
  left: 59.36%;
}
.intro__title {
  font-size: 36px;
  line-height: 42px;
}
@media (max-width: 500px) {
  .intro__title {
    position: absolute;
    font-size: 30px;
    line-height: 38px;
    top: 40px;
    width: 156px;
    left: -28px;
  }
}
.intro__subtitle {
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 500px) {
  .intro__subtitle {
    position: absolute;
    font-size: 18px;
    line-height: 22px;
    top: 90px;
    width: 156px;
    left: -28px;
  }
}
.intro__btns {
  display: inline-block;
  flex-direction: row;
  position: absolute;
  top: 200px;
  width: 297px;
}
@media (max-width: 797px) {
  .intro__btns {
    position: absolute;
    right: -120px;
  }
}
@media (max-width: 512px) {
  .intro__btns {
    position: absolute;
    right: -127px;
  }
}
.intro__btn1 {
  background: #8DD83D;
  border-radius: 4px;
  padding: 8px 20px;
  border: 0px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.intro__btn2 {
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
  padding: 8px 20px;
  border: 0px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

/*REG-FORM*/
.reg {
  display: flex;
  height: 433px;
  align-items: center;
  font-family: "Roboto";
}
.reg__wrap {
  display: flex;
}
.reg__inputs {
  display: flex;
  flex-direction: column;
}
.reg__input {
  display: flex;
  justify-content: center;
  padding: 13px 0px 13px 16px;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px 2px rgba(0, 29, 108, 0.07);
  border-radius: 5px;
  border: 0px;
  margin-bottom: 15px;
}
.reg__block {
  width: 220px;
  display: flex;
  flex-direction: column;
}
.reg__title {
  font-family: "RobotoMed";
  display: flex;
  justify-content: center;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 25px;
  color: #979797;
}
.reg__btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 15px 96px;
  background: #8DD83D;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border: 0ch;
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #FDFDFF;
}
.reg__login {
  margin-top: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

/*Third*/
.footer {
  background: #373A3C;
}
.footer__column1 {
  margin-left: 80px;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
}
@media (max-width: 1040px) {
  .footer__column1 {
    margin-left: 30px;
  }
}
@media (max-width: 900px) {
  .footer__column1 {
    margin-left: 15px;
  }
}
@media (max-width: 425px) {
  .footer__column1 {
    padding-left: 5px;
  }
}
.footer__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto";
  color: #7DD42F;
  margin-top: 50px;
}
@media (max-width: 425px) {
  .footer__title {
    font-size: 10px;
  }
}
@media (max-width: 900px) {
  .footer__title {
    font-size: 14px;
  }
}
.footer__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 35px;
}
@media (max-width: 900px) {
  .footer__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .footer__subtitle {
    font-size: 10px;
  }
}
.footer__column2 {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  padding-left: 250px;
}
@media (max-width: 1040px) {
  .footer__column2 {
    padding-left: 150px;
  }
}
@media (max-width: 900px) {
  .footer__column2 {
    padding-left: 100px;
  }
}
@media (max-width: 425px) {
  .footer__column2 {
    padding-left: 20px;
  }
}
.footer__column3 {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  padding-left: 250px;
}
@media (max-width: 1040px) {
  .footer__column3 {
    padding-left: 150px;
  }
}
@media (max-width: 900px) {
  .footer__column3 {
    padding-left: 100px;
  }
}
@media (max-width: 425px) {
  .footer__column3 {
    padding-left: 20px;
  }
}
.footer__block {
  display: flex;
}
.footer__social__imgs {
  margin-top: 30px;
}
.footer__social__img {
  margin-right: 30px;
}
.footer__down__texts {
  margin-top: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 22px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #FFFFFF;
}
@media (max-width: 900px) {
  .footer__down__texts {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .footer__down__texts {
    font-size: 12px;
  }
}
.footer__maiki {
  margin-right: 15px;
}