*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family:'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family:'RobotoMed';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 500;
}

$font1: 'Roboto';
$font2: 'RobotoBold';
$font3: 'RobotoMed';

.container{
    max-width:1200px;
    margin: 0 auto;
    padding: 0px 40px;
}
.header{
    background: #373A3C;
    border-bottom:#686C6F 3px solid;
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__burger{
        display: none;
    @media (max-width:850px) {
        display: flex;
        padding-right: 10px; 
        padding-left: 10px; 
    }
    }
    &__logo{
        padding: 15px 0px;
    }
    &__menu{
        display: flex;
        margin-left: 20px;
        @media (max-width:850px) {
            margin: 0;
            
        }
    }
    &__list{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__item{
        margin-left: 30px;
        @media (max-width:850px) {
            margin: 0;
            
        }

    }
    &__link{
        font-family: $font1;
        font-style:normal;
        font-size: 16px;
        line-height: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgba(255, 255, 255, 0.5); 
    }
    &__link:hover{
        color:#FFFF
    }
    &__link__burg{
        @media (max-width:850px) {
            display: none;
            margin: 0;
            padding: 0;
        }

    }
    &__link__arrow:after{
        content:'';
        background: url('../img/Shape.svg') no-repeat bottom;
        width: 12px;
        height: 7px;
        margin-left: 8px;
        margin-top: 4px;  
        display: flex;
    }
    &__link__user{
        text-align: center;
        width:121px;
        @media (max-width:512px) {
            display: none;   
        }
    }
    &__user{
        display: none;
        @media (max-width:512px) {
            display: flex;  
            padding-left: 16px; 
        }
    }
    &__item__user{
        @media (max-width:512px) {
            display: flex;
        }
        
    }
    &__link__user::before{
        content:'';
        background: url('../img/user.svg') no-repeat bottom;
        width: 20px;
        height: 20px; 
        display: flex;
        margin-right: 5px;
        margin-left: 5px;
        padding: 2px;
    }
    &__input{
        padding:8px 0px 8px 15px;
        color:black;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        @media (max-width:512px) {
            width: 100%;        
        }
    }
}
.intro{
    align-items: center;
    height: 698px;
    display: flex;
    background: url('../img/Star-Wars-Battlefront-II-combat.png');        
    background-position:top;
    background-size: cover;
    position: relative;
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__left__arrow{
        position: absolute;
        left: 0px;
        transform:rotate(180deg);
        padding-right: 49px;
        @media (max-width:512px) {
            padding: 0px 15px;

        }
    }
    &__right__arrow{
        position: absolute;
        right: 0px;
        padding-right: 49px;
        @media (max-width:512px) {
            padding: 0px 15px;    
            }
        }
    &__btns-titles{
        font-family:$font1;
        color: #FFFFFF;
        position: absolute;
        top:210px;
        left: 59.36%;
    }
    &__title{
        font-size: 36px;
        line-height: 42px;
        @media (max-width:500px) {
            position: absolute;
            font-size:30px;
            line-height: 38px;
            top: 40px;
            width: 156px;
            left: -28px
    
        }
    }
     &__subtitle{
        font-size: 24px;
        line-height: 28px;
        @media (max-width:500px) {
            position: absolute;
            font-size:18px;
            line-height: 22px;
            top: 90px;
            width: 156px;
            left: -28px
        }
        }
    &__btns{
        display: inline-block;
        flex-direction: row;
         position: absolute;
         top:200px;
         width: 297px;
        @media (max-width:797px) {
            position:absolute;
            right:-120px;
                
        }
        @media (max-width:512px) {
            position:absolute;
            right:-127px;
                
        }
    }
    &__btn1{
        background: #8DD83D;
        border-radius: 4px;
        padding: 8px 20px;
        border: 0px;
        font-family: $font1;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }
    &__btn2{
        background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
        border-radius: 4px;
        padding: 8px 20px;
        border: 0px;
        font-family: $font1;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF; 
    }
}
.reg{
    display: flex;
    height: 433px;
    align-items: center;
    font-family: $font1;
    &__wrap{
        display: flex;
    }
    &__inputs{
        display: flex;
        flex-direction: column;
    }
    &__input{
        display: flex;
        justify-content: center;
        
        padding: 13px 0px 13px 16px;
        background: #FFFFFF;
        box-shadow: 0px 0px 5px 2px rgba(0, 29, 108, 0.07);
        border-radius: 5px;
        border:0px;
        margin-bottom: 15px;

    }
    &__block{
        width: 220px;   
        display: flex;  
        flex-direction: column;   
    }
    &__title{
        font-family: $font3;
        display: flex;
        justify-content: center;
        font-style: normal;       
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        margin-bottom: 25px;
        color: #979797;
    }
    &__btn{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        padding: 15px 96px;
        background: #8DD83D;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
        border:0ch;
        font-family:$font2;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        color: #FDFDFF;
    }
    &__login{
        margin-top: 16px;
        font-family:$font1;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
    }
}
.footer{
    background: #373A3C;
    &__column1{
        margin-left: 80px;
        font-family: $font1;
        display: flex;
        flex-direction: column;
        @media (max-width:1040px) {
            margin-left: 30px;   
        }
        @media (max-width:900px) {
            margin-left: 15px;   
        }
        @media (max-width:425px) {
            padding-left: 5px;
            
        }
    }

    &__title{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        font-family: $font1;
        color:  #7DD42F;
        margin-top: 50px;
        @media (max-width:425px) {
            font-size: 10px; 
            
        }
        @media (max-width:900px) {
            font-size: 14px;  
        }
    }
    &__subtitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        margin-top: 35px;
        @media (max-width:900px) {
            font-size: 14px;  
        }
        @media (max-width:425px) {
            font-size: 10px; 
            
        }
    }
    &__column2{
        font-family: $font1;
        display: flex;
        flex-direction: column;
        padding-left: 250px;
    @media (max-width:1040px) {
        padding-left: 150px;
    }
    @media (max-width:900px) {
        padding-left: 100px;
        
    }
    @media (max-width:425px) {
        padding-left: 20px;
        
    }
    }
    &__column3{
        font-family: $font1;
        display: flex;
        flex-direction: column;
        padding-left: 250px;
        @media (max-width:1040px) {
            padding-left: 150px;
            
        }
        @media (max-width:900px) {
            padding-left: 100px;
            
        }
        @media (max-width:425px) {
            padding-left: 20px;
            
        }
    }
    &__block{
        display: flex;
    }
    &__social__imgs{
        margin-top: 30px;
    }
    &__social__img{
        margin-right: 30px;
    }
    &__down__texts{
        margin-top: 50px;
        font-family:$font1;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 22px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top:1px solid #FFFFFF;
        @media (max-width:900px) {
            font-size: 14px;  
        }
        @media (max-width:425px) {
            font-size: 12px;  
        }
    }
    &__maiki{
        margin-right: 15px;
    }
}

 

